<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>

<body>
    <button class="theme-toggle" aria-label="toggle theme">
        <i class="fas fa-adjust"></i>
    </button>

    <div class="form-container">
        <h2 class="form-title">Selamat Datang</h2>
        <p class="form-subtitle">Masuk untuk melanjutkan ke SIPATIK</p>

        <form th:action="@{/auth/proses-login}" th:object="${loginRequest}" method="post">
            <div class="overlay">
                <div class="form-group">
                    <label for="email">Email*</label>
                    <input type="email" th:field="*{email}" id="email" placeholder="Masukkan Email Anda">
                    <i class="login__icon ri-mail-fill" id="loginEmail"></i>
                </div>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message">
                </p>
            </div>

            <div class="overlay">
                <div class="form-group">
                    <label for="password">Password*</label>
                    <input type="password" id="password" th:field="*{password}" placeholder="Masukkan Password Anda">
                    <i class="login__icon cursor-password ri-eye-off-fill" id="loginPassword"></i>
                </div>
                <p th:if="${#fields.hasErrors('password')}" th:text="${#fields.errors('password')[0]}"
                    class="error-message"></p>
                <div th:if="${error}" class="error-message">
                    <p th:text="${error}"></p>
                </div>
            </div>

            <input type="hidden" th:field="*{nama}"id="inputNama" />
            <input type="hidden" th:field="*{angkatan}" id="inputAngkatan"/>

            <button type="submit">Masuk</button>

            <div class="text-sm text-center mt-4">
                <a href="javascript:void(0);" onclick="goToLupaPassword()">Lupa Password?</a>
            </div>

        </form>
    </div>
    <script src="/js/theme.js"></script>
    <script src="/js/auth.js"></script>
</body>

</html>