<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lupa Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>

<body>
      <button class="theme-toggle" aria-label="toggle theme">
        <i class="fas fa-adjust"></i>
    </button>

    <div class="form-container">
        <form th:action="@{/auth/proses-lupa-password}" th:object="${loginRequest}" method="post">

            <!-- NAMA -->
            <div class="overlay">
                <div class="form-group">
                    <label for="nama">Nama</label>
                    <input type="text" th:field="*{nama}" readonly />
                </div>
            </div>

            <!-- ANGKATAN -->
            <div class="overlay">
                <div class="form-group">
                    <label for="angkatan">Angkatan</label>
                    <input type="text" th:field="*{angkatan}" readonly />
                </div>
            </div>

            <!-- EMAIL -->
            <div class="overlay">
                <div class="form-group">
                    <label for="email">Email*</label>
                    <input type="email" th:field="*{email}" readonly />
                    <i class="login__icon ri-mail-fill" id="loginEmail"></i>
                </div>
            </div>

            <!-- PASSWORD BARU -->
            <div class="overlay">
                <div class="form-group">
                    <label for="password">Password Baru*</label>
                    <input type="password" id="password" th:field="*{password}" placeholder="Masukkan Password Baru" />
                    <i class="login__icon cursor-password ri-eye-off-fill" id="loginPassword"></i>
                </div>
                <p th:if="${#fields.hasErrors('password')}" th:text="${#fields.errors('password')[0]}"
                    class="error-message"></p>
            </div>

            <button type="submit">Ubah Password</button>
        </form>
    </div>
    <script src="/js/theme.js"></script>
    <script src="/js/auth.js"></script>
</body>

</html>